{% extends "base.html" %}
{% load static %}

{% block title %}Ingredientes - Inacook{% endblock %}

{% block content %}
<div class="container ingredientes-container">

    <h1>Ingredientes Registrados</h1>

    <a href="{% url 'crear_ingrediente' %}" class="btn btn-primary"
        style="background-color:#28a745; border-color:#28a745; margin-bottom:25px; display:inline-block;">
        Nuevo Ingrediente
    </a>

    {% if ingredientes %}
    <table class="tabla-ingredientes">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Calidad</th>
                <th>Costo Unitario</th>
                <th>Unidad</th>
                <th style="text-align:center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ing in ingredientes %}
            <tr>
                <td>{{ ing.nombre }}</td>
                <td>{{ ing.calidad }}</td>
                <td>${{ ing.costo_unitario }}</td>
                {% if ing.unidad_abreviatura %}
                <td>{{ ing.unidad_nombre }} ({{ ing.unidad_abreviatura }})</td>
                {% else %}
                <td>{{ ing.unidad_nombre }}</td>
                {% endif %}

                <td style="text-align:center;">
                    <a href="{% url 'editar_ingrediente' ing.id %}" class="btn btn-primary"
                        style="background-color:#007bff; border-color:#007bff;">
                        Editar
                    </a>

                    <a href="{% url 'eliminar_ingrediente' ing.id %}" class="btn btn-secondary"
                        style="background-color:#dc3545; border-color:#dc3545; color:white;">
                        Eliminar
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p class="sin-datos">No hay ingredientes agregados.</p>
    {% endif %}
</div>
{% endblock %}